<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>
    window.initialData = <%- JSON.stringify(initialData) -%>
  </script>
</head>

<body>
  <div id="root"><%- initialMarkup -%></div>
  <script src="/bundle.js"></script>
</body>

</html>